logs/*
log/*
/target/
target/*
*/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.pluntuml
.png

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

*.lck

/statemachine_charts/
statemachine_charts/**

/core/allure-results/*
*/allure-results/*
allure-results/*
